* body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
.hover-effect:hover {
  background-color: #36CAD0;
  color: #ffffff;
}
.hover-effect:hover i {
  color: #ffffff;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-button {
  cursor: pointer;
}
.tab-button.active {
  border-bottom: 2px solid #1F7477;
}
.logo-color1 {
  color: #1F7477;
}
.logo-color2 {
  color: #36CAD0;
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.carousel-item {
  min-width: 300px;
  scroll-snap-align: start;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .carousel-item {
      min-width: 250px;
  }
}
#mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  #mobile-menu {
      display: flex;
      flex-direction: column;
  }
}
.progress-bar {
  background-color: #e5e7eb;
  border-radius: 0.375rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.progress-bar-inner {
  height: 1.5rem;
  background-color: #1F7477;
  text-align: right;
  padding-right: 0.5rem;
  color: white;
  border-radius: 0.375rem;
}
.bg-primary {
  background-color: #1F7477;
}
.text-primary {
  color: #1F7477;
}
.bg-accent {
  background-color: #36CAD0;
}
.text-accent {
  color: #36CAD0;
}
section {
  padding: 10re 9% 2rem;
  min-height: 90vh;
}
.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
}
.btn-box {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 34.5rem;
  height: 5rem;
  
}
.btn-box .btn {
  width: 10rem;
  height: 70%;
  align-items: center;
  justify-content: center;
  background-color: #1F7477;
  display: flex;
  position: relative;
  border: .2rem solid #1F7477;
  border-radius: .8rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: #36CAD0;
  

}
#menu-icon {
  font-size: 3.4rem;
  color: #1F7477; 
  cursor: pointer;
  display: none;
}